<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">

      title="Account Settings">
  </head>
<body>
<pre>/*
*/
body {
    font-family: cursive;
}
div#window_title {
text-align: center;
}
div#acct_List {
    align: center;
}
table#accttable {
    height: 300px;
}
button#active {
	border-width:1px;
	height: 50px;
}
div#button_row {
	border-width:0px;
	border-style:solid;
	border-color:blue;
    text-align: center;
    float: left;
}
div#button_div_space {
    float: left;
}
div#button_div {
	border-width: 0px;
	border-style:solid;
	border-color:yellow;
    float: left;
}

div#close_space {
	border-width:0px;
	border-style:solid;
	border-color:blue;
	float: left;
}
div#close_button_div {
	border-width:8px;
	border-style:solid;
	border-color:blue;
	float: left;
}
.bottom_navbar {
    position: fixed;
}
</pre>
</body>
</html>
